@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$roboto-sans: "Open Sans", sans-serif;

$active-color: #d60929;
$normal-color: #877e77;

// font-size
$font-size-small: 0.825rem;
$font-size-bigger: 1.25rem;

// Default spacing
$default-padding: 1rem;
$default-padding: 1rem;
