.mat-card {
  margin-top: 1rem;
}

.mat-card-header div {
  background-color: blue;
}

.mat-card-header .mat-card-title span:nth-child(2) {
  color: chocolate;
}

.mat-card-content > div {
  display: flex;
}

.slider {
  width: 16rem;
  height: 15rem;
}

.mat-card .mat-divider-horizontal {
  left: 16rem;
  width: 76%;
}

.mat-card-actions a {
  width: 50%;
  min-width: 9rem;
  margin-bottom: 1rem;
}
