<div class="content" role="main">
  <h1>Dies ist ein Angular Frontend</h1>
  <div>
    Features/Technologien in Gebrauch in dieser Applikation:
    <ul>
      <li>
        Code hostet on
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://dev.azure.com/akros-htp/Holiday%20Tech%20Playground"
          >Azure DevOps</a
        >
      </li>
      <li>Deployed on Azure Portal</li>
      <li>
        Home-Office Seite ist mehrsprachig gestaltet mit
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/ngx-translate/core"
          >ngx-translate</a
        ><br />Im Footer kann man die Sprache wechseln
      </li>
      <li>Rechtschreibfehler</li>
    </ul>
  </div>
</div>
